body {
    min-height: 100vh;
}
.container {
    background-color: var(--background);
    height: 100%;
    width: 100%;
    padding: 15px;
}
.child_1 {
    background-color: var(--primary-color);
    
    width: 1000px;
    padding: 15px;
    flex-direction: row;
    display: flex;
    margin: auto;
    text-align: center ;
    border: solid;
    justify-content: center;
}

.icon {
    width: 16px;
    height: auto;
}
.margin1{ 
    margin: 50%;

}
